# Frontend Environment Variables

# The URL of your Supabase project (provided by Supabase dashboard)
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321

# The ANON public key for your Supabase project (provided by Supabase dashboard)
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# The URL where the API server is hosted
NEXT_PUBLIC_API_URL=http://localhost:3001
